/* Base */
html, body, canvas {
  margin: 0;
  background: #000;
  width: 100%;
  font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;
  color: #fff;
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
  overflow: hidden;
}

.intro  {
  margin: 1em;
}

.title {
  display: inline-block;
  border: 2px solid currentColor;
  padding: .5em;
}

.end {
  visibility: hidden;
  font-size: 2rem;
  padding: .25em;
  animation: blink 2s linear infinite;
  display: inline-block;
  margin: 1em;
  animation: blink 2s linear infinite;
}

@keyframes blink
{
	  0% { color: white; background: black; }
   50% { color: white; background: black; }
   51% { color: black; background: white; }
  100% { color: black; background: white; }
}
